<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(let user of users){ %>
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <a href="http://localhost:3000/edit/<%=user.username%>"><i class="fa-solid fa-pencil"></i></a>
                        </td>
                        <td>
                            <a href="http://localhost:3000/delete/<%=user.username%>"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>